<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list_detail.name }} </h1>
            <p>
                <a href = "{% url "todo_list_update" list_detail.id %}">Edit</a> <br>
                <a href = "{% url "todo_list_delete" list_detail.id %}">Delete </a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {%for detail in list_detail.items.all %}
                        <tr>
                            <td>
                                <a href ="{% url "todo_item_update" detail.id%}">{{ detail.task }}</a>
                            </td>
                            <td> {{detail.due_date|date:"N j, Y"}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
