<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My lists</h1>
            <p>
                <a href = "{% url "todo_list_create" %}">Create a new list</a> <br>
                <a href = "{% url "todo_item_create" %}">Create a new item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {%for list in list_list.all %} {% comment %} #list_list.all is coming from views context {% endcomment %}
                        <tr>
                            <td>
                                <a href = "{% url "todo_list_detail" list.id %}"> {{ list.name }} </a>
                            </td>
                            <td> {{list.items.all|length}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
